<div class="container">
  <h2>Common Conversions</h2>
  <div class="panel panel-success">
  <div class="panel-heading">Metric Conversions</div>
  <div class="panel-body">
  	<table class="table table-striped table-responsive">
		<thead class="thead-default bg-primary">
			<tr>
				<td>Metric Size</td>
				<td>Fluid Ounces</td>
				<td>Nearest U.S. Equivalent</td>
				<td>Fluid Ounces</td>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>50 ml</td><td>1.7</td><td>Miniature</td><td>1.6</td>
			</tr>
			<tr>
				<td>100 ml</td><td>3.4</td><td>1/4 pint</td><td>4</td>
			</tr>
			<tr>
				<td>200 ml</td><td>6.8</td><td>1/2 pint</td><td>8</td>
			</tr>
			<tr>
				<td>375 ml</td><td>12.7</td><td>3/4 pint</td><td>12</td>
			</tr>
			<tr>
				<td>500 ml</td><td>16.9</td><td>1 pint</td><td>16</td>
			</tr>
			<tr>
				<td>750 ml</td><td>25.4</td><td>4/5 quart</td><td>25.6</td>
			</tr>
			<tr>
				<td>1 Liter</td><td>33.8</td><td>1 quart</td><td>32</td>
			</tr>
			<tr>
				<td>1.75 Liters</td><td>59.2</td><td>1 gallon</td><td>64</td>
			</tr>
		</tbody>
	</table>
  </div>
  </div>

  <div class="panel panel-success">
  <div class="panel-heading">Liquid Measures</div>
  <div class="panel-body">
  	<div style="float:left; width:48%;">
  		<h3>Metric Units</h3>
  		<table class="table table-striped table-responsive">
			<thead class="thead-default bg-primary">
				<tr>
					<td>10 of these</td>
					<td></td>
					<td>1 of These</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>milliliters</td><td>=</td><td>centiliter</td>
				</tr>
				<tr>
					<td>centiliters</td><td>=</td><td>deciliter</td>
				</tr>
				<tr>
					<td>deciliters</td><td>=</td><td>liter</td>
				</tr>
				<tr>
					<td>liters</td><td>=</td><td>decaliter</td>
				</tr>
				<tr>
					<td>decaliters</td><td>=</td><td>hectoliter</td>
				</tr>
				<tr>
					<td>hectoliters</td><td>=</td><td>kiloliter</td>
				</tr>
			</tbody>
		</table>
  	</div>
  	<div style="float:right; width:48%;">
  		<h3>US to Metric Units</h3>
  		<table class="table table-striped table-responsive">
			<thead class="thead-default bg-primary">
				<tr>
					<td>U.S. Unit</td>
					<td>Metric Unit</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1 fluid ounce</td><td>29.573 milliliters</td>
				</tr>
				<tr>
					<td>1 quart</td><td>9.4635 deciliters</br>0.946535 liter</td>
				</tr>
				<tr>
					<td>1 gallon</td><td>3.7854 liters</td>
				</tr>
				<tr>
					<td>3.3814 fluid ounces</td><td>1 milliliter</td>
				</tr>
				<tr>
					<td>0.033814 fluid ounce</td><td>1 decaliter</td>
				</tr>
				<tr>
					<td>33.814 fluid ounces</br>1.0567 quarts</br>0.26417 gallon</td><td>1 liter</td>
				</tr>
			</tbody>
		</table>
  	</div>
</div>